<!DOCTYPE html>
<html>
  <head>
    <title>PILEA<%= yield(:title).empty? ? '' : yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_pack_tag 'favicon.ico' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-white font-body text-gray-900">
    <!-- NAVBAR -->
    <nav id="navbar" class="flex items-center justify-between flex-wrap bg-green-600 px-12 py-5 lg:px-32 lg:py-2 z-50 top-0 sm:text-center fixed w-full">
      <%= link_to "Pilea", root_path, class: "font-logo text-8xl lg:text-6xl tracking-normal text-white" %>
      <div class="flex">
        <%= link_to image_pack_tag(('logo_twitter.png'), title: "@pilea_tech", class: 'w-20 lg:w-10 mt-2 lg:mt-1'), 'https://twitter.com/pilea_tech', target: '_blank' %>
        <%= link_to image_pack_tag(('logo_instagram.png'), title: "pilea.tech", class: 'w-20 lg:w-10 mx-6 lg:mx-4'), 'https://instagram.com/pilea.tech', target: '_blank' %>
        <%= link_to image_pack_tag(('logo_mail.png'), title: "contact@pilea.tech", class: 'w-24 lg:w-12 -mt-2 lg:-mt-1 lg:mr-4'), 'mailto:metislab@outlook.com', target: '_blank' %>

        <!--<div id="locales" class="antialiased font-sans">
          <div class="fixed inset-0" @click="isVisible = false"></div>
          <div class="relative inline-block" @mouseover="isVisible = true" @mouseleave="isVisible = false" @keydown.enter="isVisible = !isVisible">
            <%= image_pack_tag(('logo_planet.png'), alt: "Languages", class: 'border-l-2 w-32 lg:w-16 pl-4 pr-6 lg:pr-1 ml-4 lg:ml-0 lg:mr-4') %>
            <transition enter-active-class="transition duration-300 ease-out transform" enter-class="-translate-y-3 scale-95 opacity-0" enter-to-class="translate-y-0 scale-100 opacity-100" leave-active-class="transition duration-150 ease-in transform" leave-class="translate-y-0 opacity-100" leave-to-class="-translate-y-3 opacity-0">
              <div v-show="isVisible" class="absolute pl-10 lg:pl-2 pt-3">
                <div class="relative py-1 bg-white border border-gray-200 rounded-md shadow-xl">
                  <div class="absolute top-0 w-4 h-4 origin-center transform rotate-45 translate-x-5 -translate-y-2 bg-white border-t border-l border-gray-200 rounded-sm pointer-events-none"></div>
                  <div class="relative">
                    <%= link_to "English", root_path(locale: :en), class: 'block w-full px-4 py-2 font-medium text-gray-700 whitespace-no-wrap hover:bg-gray-100 focus:outline-none hover:text-gray-900 focus:text-gray-900 focus:shadow-outline transition duration-300 ease-in-out' %>
                    <%= link_to "Français", root_path(locale: :fr), class: 'block w-full px-4 py-2 font-medium text-gray-700 whitespace-no-wrap hover:bg-gray-100 focus:outline-none hover:text-gray-900 focus:text-gray-900 focus:shadow-outline transition duration-300 ease-in-out' %>
                    <!--<%= link_to "Deutsche", root_path(locale: :de), class: 'block w-full px-4 py-2 font-medium text-gray-700 whitespace-no-wrap hover:bg-gray-100 focus:outline-none hover:text-gray-900 focus:text-gray-900 focus:shadow-outline transition duration-300 ease-in-out' %>-->
                    <!--<%= link_to "Español", root_path(locale: :es), class: 'block w-full px-4 py-2 font-medium text-gray-700 whitespace-no-wrap hover:bg-gray-100 focus:outline-none hover:text-gray-900 focus:text-gray-900 focus:shadow-outline transition duration-300 ease-in-out' %>-->
                    <!--<%= link_to "Português", root_path(locale: :pt), class: 'block w-full px-4 py-2 font-medium text-gray-700 whitespace-no-wrap hover:bg-gray-100 focus:outline-none hover:text-gray-900 focus:text-gray-900 focus:shadow-outline transition duration-300 ease-in-out' %>-->
                    <!--<%= link_to "Italiano", root_path(locale: :it), class: 'block w-full px-4 py-2 font-medium text-gray-700 whitespace-no-wrap hover:bg-gray-100 focus:outline-none hover:text-gray-900 focus:text-gray-900 focus:shadow-outline transition duration-300 ease-in-out' %>-->
                    <!--<%= link_to "Русский", root_path(locale: :ru), class: 'block w-full px-4 py-2 font-medium text-gray-700 whitespace-no-wrap hover:bg-gray-100 focus:outline-none hover:text-gray-900 focus:text-gray-900 focus:shadow-outline transition duration-300 ease-in-out' %>-->
                    <!--<%= link_to "中文", root_path(locale: :zh), class: 'block w-full px-4 py-2 font-medium text-gray-700 whitespace-no-wrap hover:bg-gray-100 focus:outline-none hover:text-gray-900 focus:text-gray-900 focus:shadow-outline transition duration-300 ease-in-out' %>-->
                    <!--<%= link_to "日本人", root_path(locale: :ja), class: 'block w-full px-4 py-2 font-medium text-gray-700 whitespace-no-wrap hover:bg-gray-100 focus:outline-none hover:text-gray-900 focus:text-gray-900 focus:shadow-outline transition duration-300 ease-in-out' %>-->
                    <!--<%= link_to "हिन्दी", root_path(locale: :hi), class: 'block w-full px-4 py-2 font-medium text-gray-700 whitespace-no-wrap hover:bg-gray-100 focus:outline-none hover:text-gray-900 focus:text-gray-900 focus:shadow-outline transition duration-300 ease-in-out' %>-->
                    <!--<%= link_to "عربى", root_path(locale: :ar), class: 'block w-full px-4 py-2 font-medium text-gray-700 whitespace-no-wrap hover:bg-gray-100 focus:outline-none hover:text-gray-900 focus:text-gray-900 focus:shadow-outline transition duration-300 ease-in-out' %>-->
                  <!--</div>
                </div>
              </div>
            </transition>
          </div>
        </div>-->

      </div>
    </nav>
    <div class="bg-green-600 h-48 lg:h-20"></div>
    <!-- NAVBAR -->

    <!-- CONTENT -->
    <%= yield %>
    <!-- CONTENT -->
    
    <!-- FOOTER -->
    <footer class="text-center text-gray-500 my-2 text-xs">
      &copy;2020 Metis Lab. All rights reserved.
    </footer>
    <!-- FOOTER -->

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
